<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FMF</title>
        <link href="/canvas/css/main.css">
    </head>
    <body>
        <div id="content">
        </div>
        <script src="/bundle/cav.js"></script>
    </body>
</html>