@import "popupWindow.css";


body, canvas, div {
    margin: 0;
    padding: 0;
}

html, body, #content {
    width: 100%;
    height: 100%;
}

.absolute{
    position: absolute;
}

.left{
    float: left;
}

.test-img{
    width: 100%;
    height: 50%;
}