html, body{
    margin: 0;
    padding: 0;
}


html, body, #content {
    height: 100%;
    width: 100%;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.relative {
    position: relative;
}

.absolute{
    position: absolute;
}

.over-hidden{
    overflow: hidden;
}

.left{
    float: left;
}